<div id="top">
    <mat-toolbar color="primary">
        <span class="menu-hor fill-remaining-space">
            PEC6
        </span>
        <div class="menu-hor">
            <span>
                <button mat-button (click)="home()">
                    <mat-icon >home</mat-icon>
                    <span class="white">Home</span>
                </button>
            </span>
            <span>
                <button mat-button (click)="list()">
                    <mat-icon class="white">format_list_bulleted</mat-icon>
                    <span class="white">List</span>
                </button>
            </span>
            <span>
                <button mat-button (click)="stats()">
                    <mat-icon class="white">query_stats</mat-icon>
                    <span class="white">Statistics</span>
                </button>
            </span>
        </div>
    </mat-toolbar>
</div>