<div style="margin-left: auto; margin-right: auto">
  <p id="categoryFeedback"></p>
</div>
<div>
  <h1>{{ 'categoryForm' | translate}}</h1>
  <form
    *ngIf="categoryForm"
    [formGroup]="categoryForm"
    (ngSubmit)="saveCategory()"
  >
    <div>
      <label for="title">{{ 'title' | translate }}:</label>
      <input type="text" [formControl]="title" />

      <div *ngIf="title.errors">
        <div
          *ngIf="title.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="title.errors.required">Title is required</div>

          <div *ngIf="title.errors.maxlength">
            {{ 'error.title_maxlength' | translate }}.
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">{{ 'description' | translate}}:</label>
      <input type="text" [formControl]="description" />

      <div *ngIf="description.errors">
        <div
          *ngIf="description.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="description.errors.required">Description is required</div>

          <div *ngIf="description.errors.maxlength">
            {{ 'error.description_maxlength' | translate }}.
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">Css {{ 'colour' | translate }}:</label>
      <input type="text" [formControl]="css_color" />

      <div *ngIf="css_color.errors">
        <div
          *ngIf="css_color.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="css_color.errors.required">Css color is required</div>

          <div *ngIf="css_color.errors.maxlength">
            {{ 'error.css_maxlenght' | translate }}.
          </div>
        </div>
      </div>
    </div>

    <button type="submit">{{ 'save' | translate | uppercase}}</button>
  </form>
</div>
